<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Webtime</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href=myStyle.css>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" type="image/x-icon" href="photos/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>.w3-btn {margin-bottom:10px;}</style>
</head>
<body>
<div id="app">
    
        <!--<input type=text v-model=baseURL>-->

    <!--<h2>Timezones</h2>-->
    <!---<li class="navbar-item" :class="{ active: country.isShown}"
                v-for="country in countries" @click="toggle(country)" :checked="country.isShown">
                    {{ country.text }}          
                    </li>--->
    <!---->
    <!---<a class="navbar-brand" href="https://github.com/SerdarAtalay/webtime"><img src="photos/GitHub-Mark-32px.png" alt=""></a>--->
    <!---->

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <a class="navbar-brand" href="https://github.com/SerdarAtalay/webtime">
    	<img src="photos/GitHub-Mark-Light-32px.png" alt="">
    </a>
  	<div class="container">
    	<div class="navbar-header">
        	<button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle" aria-expanded="true">
            	<span class="sr-only">Toggle navigation</span>
           	 	<span class="icon-bar"></span> 
            	<span class="icon-bar"></span> 
            	<span class="icon-bar"></span>
        	</button>
		</div>
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ol class="nav navbar-nav">
        		<li :class="{active: country.isShown}"
                v-for="country in countries" @click="toggle(country)" :checked="country.isShown">
                	<a href="#">
                    {{ country.text }}          
                    </a>
                </li>
      		</ol>
    	</div>
  	</div>
</nav>

    <div id="menu">
        <ul class="flex-wrap">
            <a v-for="country in countries" v-show="country.isShown" :href="baseURL + country.text">
                <div class="card border-dark bg-light mb-3" style="max-width: 18rem;">
                    <img class="card-img-top" :src="'photos/' + country.text + '.jpg'" alt="Card image cap" style="width: 100%; height: 170px;">
                    <div class="card-body">
                    
                        <p class="card-text">{{country.text}}</p>
                        <div :id="country.timezone">
                            <div class="datetime">
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </ul>
    </div>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
            countries: [
                { text: "Los Angeles", isShown: false, timezone: "divLosAngeles"
            },
                { text: "New York", isShown: true, timezone: "divNYSE"
            },
                { text: "London", isShown: true, timezone: "divLondon"
            },
                { text: "Berlin", isShown: true, timezone: "divBerlin"
            },
                { text: "Istanbul", isShown: true, timezone: "divBist"
            },
                { text: "Hong Kong", isShown: false, timezone: "divHongKong"
            },
                { text: "Tokyo", isShown: false, timezone: "divTokyo"
            },
                { text: "Sydney", isShown: false, timezone: "divSydney"
            }
                
            ],
            baseURL: "https://www.google.com/search?q="

        },
        methods: {
            toggle: function(country){
                country.isShown = !country.isShown
            },

            addCountry: function(text, isShown, timezone){
                this.countries.push(text, isShown, timezone);
            }
        }
    })

    $(function(){
  setInterval(function(){
    var divUtc = $('#divUTC');
    //put UTC time into divUTC  
    divUtc.text(moment.utc().format('HH:mm'));      

    var divBist = $('#divBist').text(moment.tz('Europe/Istanbul').format('HH:mm'));
    var divTokyo = $('#divTokyo').text(moment.tz('Asia/Tokyo').format('HH:mm'));
    var divSydney = $('#divSydney').text(moment.tz('Australia/Sydney').format('HH:mm'));
    var divNYSE = $('#divNYSE').text(moment.tz('America/New_York').format('HH:mm'));
    var divLondon = $('#divLondon').text(moment.tz('Europe/London').format('HH:mm'));
    var divLosAngeles = $('#divLosAngeles').text(moment.tz('America/Los_Angeles').format('HH:mm'));
    var divHongKong = $('#divHongKong').text(moment.tz('Asia/Hong_Kong').format('HH:mm'));
    var divBerlin = $('#divBerlin').text(moment.tz('Europe/Berlin').format('HH:mm'));
  },1000);
});

</script>


</body>
</html>
