<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webtime</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data.min.js"></script>
    <link rel=stylesheet href=myStyle.css>
</head>
<body>
<div id="app">
    <div id="options">
        <input type=text v-model=baseURL>

        <h2>Timezones:</h2>
        <ol >
            <li v-for="country in countries">
                <label>
                    <input type="checkbox"
                           @change="toggle(country)"
                           :checked="country.isShown">

                    <!--   <del v-if="!country.isShown">
                         {{ country.text }}
                       </del>-->
                    <span>
                    {{ country.text }}
                    </span>
                </label>
            </li>
        </ol>
        <!--<button @click='countries.push({text: "Zimbabwe", isShown: false})'>Add New!</button>-->
    </div>


    <div id="menu">
        <ul>
            <li v-for="country in countries" v-if="country.isShown"><a :href="baseURL + country.text" target="_blank">{{country.text}} </a>
            <div :id="country.timezone"><div class="datetime">
            </div>
            </div><br/>   </li>
        </ul>
        
        <!--<p>Template URLs you can try:
            <br>Google search: {{google}}
            <br>SimpleWiki: {{wiki}}
            <div id="divUTC">
            </div><br/>
        </p>-->
    </div>
  
       
    
</div>


<!--<script src="vue.js"></script>-->
<script>
    new Vue({
        el: "#app",
        data: {
            countries: [
                { text: "İstanbul", isShown: true, timezone: "divBist"
            },
                { text: "Tokyo", isShown: false, timezone: "divTokyo"
            },
                { text: "Sydney", isShown: true, timezone: "divSydney"
            },
                { text: "New York", isShown: false, timezone: "divNYSE"
            },
                { text: "London", isShown: true, timezone: "divLondon"
            },
                { text: "Los Angeles", isShown: false, timezone: "divLosAngeles"
            },
                { text: "Hong Kong", isShown: false, timezone: "divHongKong"
            },
                { text: "Berlin", isShown: false, timezone: "divBerlin"
            }
            ],
            baseURL: "https://www.google.com/search?q=",
            google: "https://www.google.com/search?q=",
            wiki: "https://www.wikizero.com/simple/"

        },
        methods: {
            toggle: function(country){
                country.isShown = !country.isShown
            },

            addCountry: function(text, isShown, timezone){
                this.countries.push(text, isShown, timezone);
            }
        }
    })

    $(function(){
  setInterval(function(){
    var divUtc = $('#divUTC');
    //put UTC time into divUTC  
    divUtc.text(moment.utc().format('HH:mm:ss'));      

    var divBist = $('#divBist').text(moment.tz('Europe/Istanbul').format('HH:mm:ss'));
    var divTokyo = $('#divTokyo').text(moment.tz('Asia/Tokyo').format('HH:mm:ss'));
    var divSydney = $('#divSydney').text(moment.tz('Australia/Sydney').format('HH:mm:ss'));
    var divNYSE = $('#divNYSE').text(moment.tz('America/New_York').format('HH:mm:ss'));
    var divLondon = $('#divLondon').text(moment.tz('Europe/London').format('HH:mm:ss'));
    var divLosAngeles = $('#divLosAngeles').text(moment.tz('America/Los_Angeles').format('HH:mm:ss'));
    var divHongKong = $('#divHongKong').text(moment.tz('Asia/Hong_Kong').format('HH:mm:ss'));
    var divBerlin = $('#divBerlin').text(moment.tz('Europe/Berlin').format('HH:mm:ss'));
  },1000);
});

</script>


</body>
</html>
