body {
    background: linear-gradient(#8FB299, #B2A1A1);
    padding: 20px;
    background-size: cover;
    font-family: Helvetica;
}

#menu {
	background: linear-gradient(#8FB299, transparent);
    border-radius: 4px;
    padding: 20px;
    transition: all 0.2s;
    overflow: auto;
}

#options {
    background: rgba(191, 255, 191,0.1);
    border-radius: 4px;
    padding: 20px;
    transition: all 0.2s;
    float: right;
}

li {
	background: transparent;
	list-style: none;
	text-align: center;
    margin: 8px ;
    font-weight: bold;
    color: rgba(63, 58, 55, 0.9);
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-weight: bold;
    margin-bottom: 15px;
}

del {
    color: rgba(255, 0, 0, 0.9);
}

a:link {
    color: rgba(63, 58, 55, 0.9);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgba(63, 58, 55, 0.9);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgba(63, 58, 55);
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: rgba(63, 58, 55, 0.9);
    background-color: transparent;
    text-decoration: underline;
}