body {
    background: linear-gradient(white, rgba(191, 0, 191,0.1));
    background-repeat:no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    font-family: Palatino;
}


#menu {
	float: center;
    border-radius: 4px;
    padding: 30px;
}




#options {
    background: linear-gradient(rgba(191, 255, 191,0.1), transparent);
    border-radius: 4px;
    padding: 0px;
    float: right;
    height: 100vh;

}

.button {
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	color: black;
    border-radius: 15px;
    border: 5px solid lightgray;
}

ul {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
}

li {
	margin: 5%;
	width: 100%;
	width: 25vw;
	padding: 5px 10px;
	box-sizing: border-box;
	border: 5%;
	list-style: none;
	text-align: left;
    font-weight: bold;
    color: rgba(250, 255, 250, 0.9);
    margin-left: auto;
    margin-right: auto;
}

#menu li {
	text-align: center;
	font-size: 200%;
	box-sizing: border-box;
    border-radius: 15px;
	list-style: none;
	text-align: center;
    margin: 20px ;
    color: black;
    margin-left: auto;
    margin-right: auto;
	border-collapse: separate;
    font-family: Palatino;
}

h2 {
    font-weight: bold;
    color: rgba(63, 58, 55, 0.9);
    margin-bottom: 15px;
}

del {
    color: rgba(255, 0, 0, 0.9);
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
button:hover {
    color: rgb(0, 0, 5);
    background-color: transparent;
    text-decoration: none;
}
button:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}