[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A Vue.Js project that shows different timezones
[access "refs/*"]
	owner = group user/F. Serdar Atalay (SerdarAtalay)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/F. Serdar Atalay (SerdarAtalay)
	label-Verified = -1..+1 group user/F. Serdar Atalay (SerdarAtalay)
	push = group user/F. Serdar Atalay (SerdarAtalay)
	read = group user/F. Serdar Atalay (SerdarAtalay)
	rebase = group user/F. Serdar Atalay (SerdarAtalay)
	removeReviewer = group user/F. Serdar Atalay (SerdarAtalay)
	submit = group user/F. Serdar Atalay (SerdarAtalay)
[access "refs/heads/*"]
	create = group user/F. Serdar Atalay (SerdarAtalay)
	push = +force group user/F. Serdar Atalay (SerdarAtalay)
	pushMerge = group user/F. Serdar Atalay (SerdarAtalay)
	read = group user/F. Serdar Atalay (SerdarAtalay)
[access "refs/tags/*"]
	push = group user/F. Serdar Atalay (SerdarAtalay)
	push = +force group user/F. Serdar Atalay (SerdarAtalay)
